In [1]:
import pandas as pd
import numpy as np

In [10]:
my_series = pd.Series({'London':10, 'Tripoli':100, 'Cairo':10})

In [11]:
my_series

London      10
Tripoli    100
Cairo       10
dtype: int64

In [12]:
my_series['London']

10

In [13]:
my_series[my_series > 10]

Tripoli    100
dtype: int64

In [24]:
arr = np.array([[1,2,3], [4,5,6]])
df = pd.DataFrame(arr,columns=['col 1', 'col 2', 'col 3'])

In [25]:
df

   col 1  col 2  col 3
0      1      2      3
1      4      5      6

In [21]:
df[2]

0    3
1    6
Name: 2, dtype: int32

In [26]:
df.columns

Index(['col 1', 'col 2', 'col 3'], dtype='object')

In [27]:
df['col 2']

0    2
1    5
Name: col 2, dtype: int32